.coin-balance {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #1E1E1E;
  border-radius: 9999px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.03);
}

.balance-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.balance-text {
  font-weight: 500;
  color: #F2F2F2;
}

.tokens-text {
  color: #00EFB2;
}