.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 12px;
    background-color: #1e1e2e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #fff;

    h3 {
        font-size: 16px;
        margin: 0;
        font-weight: 500;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        color: #9999a8;
    }

    .player-name-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}

.player-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.time-rect {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
    min-width: 70px;
    text-align: center;
}

.white-rect {
    border: 1px solid rgba(58, 136, 254, 0.5);
    color: #fff;
}

.black-rect {
    background-color: #3a88fe;
    color: #fff;
    border: none;
}
